.top-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    border-bottom: solid 2px rgba(182, 233, 230, 1);
}

.top-banner h1 {
    color: white;
    margin-left: 1rem;
}

.top-banner p {
    color: white;
    width: 25%;
}

@media (max-width: 600px) {
    .top-banner {
        text-align: center;
    }

    .top-banner h1 {
        width: 100%;
        margin: 1rem;
    }
    
    .top-banner p {
        width: 100%;
        margin: 1rem;
    }
}
