.logo {
    display: flex;
    justify-content: space-between;
}

.logo > img {
    width: 70%;
}

.logo h4 {
    font-size: 5rem;
    text-align: center;
}

.logo p {
    text-align: center;
    padding: 2rem;
}

.signup-and-login {
    display: flex;
    justify-content: space-around;
}

.signup {
    width: 49%;
    text-align: center;
    padding: 1rem 2rem;
    margin-top: 2rem;
    margin-left: auto;
    border-right: solid 1px rgba(56, 126, 121, 0.5);
}

.login {
    width: 49%;
    text-align: center;
    padding: 1rem 2rem;
    margin-top: 2rem;
    margin-right: auto;
}

