.main-content {
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
}

.main-content nav {
    width: 25%;
    min-height: 20rem;
    border-right: solid 2px rgb(182, 233, 230);
}

.main-content__conversation-details {
    width: 65%;
    min-height: 20rem;
    margin: auto;
    margin-bottom: 5rem;
}

.main-content__conversation-details h4 {
    margin-top: 4rem;
    color:rgba(56, 126, 121, 0.5);
}

.button {
    padding: 0.5rem 2rem;
    margin: 2rem 1rem;
    cursor: pointer;
    border: solid 0.5px;
    border-radius: 5px;
    box-shadow: 1px 1px 0.5px 0.5px;
    font-family: inherit;
    color: white;
    background-color: rgba(56, 126, 121, 0.5);
}

.conversation-box {
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: left;
    font-size: 1rem;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.conversation-box img {
    width: 100%;
}

.conversation-title {
    font-size: 2rem;
}

.small-text {
    font-size: 0.7rem;
}

.existing-message {
    display: flex;
    align-items: flex-start;
    border-bottom: solid 1px #ccc;
    padding-bottom: 0.5rem;
    margin: 1rem 0;
}

.existing-message img {
    max-width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: solid 2px rgba(182, 233, 230, 1);
    margin-right: 0.5rem;
}

.author-info {
    margin-right: 1rem;
}

.message-box {
    border: 0.1rem solid rgba(56, 126, 121, 0.5);
    border-radius: 5px;
    width: 100%;
    height: 5rem;
}

.message-box:focus {
    background: rgba(182, 233, 230, 0.5);
}

.post-message-button {
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    cursor: pointer;
    border: solid 0.5px;
    border-radius: 30px;
    box-shadow: 1px 1px 0.5px 0.5px;
    font-family: inherit;
    color: white;
    background-color: rgba(56, 126, 121, 0.5);
}