.main-content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    margin: 0;
}

.main-content nav {
    width: 25%;
    min-height: 20rem;
    border-right: solid 2px rgb(182, 233, 230);
}

.main-content__user-profile {
    width: 75%;
    min-height: 20rem;
}

.button {
    padding: 0.5rem 2rem;
    margin: 2rem 1rem;
    cursor: pointer;
    border: solid 0.5px;
    border-radius: 5px;
    box-shadow: 1px 1px 0.5px 0.5px;
    font-family: inherit;
    color: white;
    background-color: rgba(56, 126, 121, 0.5);
}

@media (max-width: 600px) {
    .main-content nav {
        width: 100%;
        min-height: 0;
        border: none
    }
    
    .main-content__user-profile {
        width: 100%;
        min-height: 0;
        border: none
    }
}