/* Edit, Delete profile buttons */
.button {
    padding: 0.5rem 2rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
    border: solid 0.5px;
    border-radius: 5px;
    box-shadow: 1px 1px 0.5px 0.5px;
    font-family: inherit;
    color: white;
    background-color: rgba(56, 126, 121, 0.5);
}

/* User's profile display */
.profile-info {
    text-align: left;
    width: 50%;
    margin: auto;
}

.profile-info div {
    padding: 0.5rem;
}

/* After clicking Edit Profile */
/* Profile image upload area */
.upload-pic-title {
    margin-bottom: 0;
}

.pic-upload-form {
    margin-top: 0;
    padding-top: 0;
}

.image-to-upload {
    width: 70%;
    padding-bottom: 2rem;
}

/* Edit profile form */
.edit-profile-form {
    width: 70%;
    margin: auto;
    margin-bottom: 5rem;
    border: solid 1px #ccc;
    border-radius: 10px;
}

.edit-profile-form div {
    width: 100%;
    padding: 0.5rem 1rem;
}

.edit-profile-form label {
    font-weight: bold;
    font-size: 0.7rem;
    margin-right: 0.5rem;
    text-align: left;
    float: left;
}

.edit-profile-form input {
    font-size: 0.7rem;
    font-family: inherit;
    width: 100%;
}

.edit-profile-form input:focus {
    outline: none;
    background: rgba(182, 233, 230, 0.5);
    border-color: rgba(56, 126, 121, 0.5);
}

.edit-profile-form button {
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    cursor: pointer;
    border: solid 0.5px;
    border-radius: 5px;
    box-shadow: 1px 1px 0.5px 0.5px;
    font-family: inherit;
    color: white;
    background-color: rgba(56, 126, 121, 0.5);
}

.Errors {
    color: red;
    border: none;
    font-size: 0.7rem;
}

@media (max-width: 600px) {
    /* profile data display */
    .profile-info {
        text-align: left;
        width: 100%;
        margin: 1rem;
        margin-left: 2rem;
    }

    /* upload image area */
    .upload-pic-title {
        margin-bottom: 1rem;
    }
}